* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #eeeeee;
    color: #000000;
}

header {
    background: #0b3d91;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-text {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.logo-text span {
    color: yellow;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}
